<div class="navbarArea bg-dark">
    <div class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand ms-5 text-danger" href="#">殯殯BoomBoom</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link ms-1 text-danger" href="#">關於我們</a>
                    <a class="nav-link ms-1 text-danger" href="#">服務項目</a>
                    <a class="nav-link ms-1 text-danger" href="#">商品列表</a>
                    <a class="nav-link ms-1 text-danger" href="#">近期祭祀</a>
                    <a class="nav-link ms-1 text-danger" href="#">塔位查詢</a>
                </div>
            </div>
            <div>
                <div class="navbar-nav">
                    <!-- 做邏輯判斷 看session有沒有會員 -->
                    <a class="nav-link me-3 text-danger" href="#">會員專區</a>
                    <!-- 帶入會員資料裡的綽號 -->
                    <a class="nav-link me-3 text-danger" href="#">會員 xxx 您好</a>
                    
                    <a class="nav-link me-3 text-danger" href="#">會員登入</a>
                    <a class="nav-link me-3 text-danger" href="#">會員註冊</a>
                </div>
            </div>
        </div>
    </div>
</div>
