<body class="d-flex flex-column min-vh-100">
<!-- Navbar -->
<app-navbar></app-navbar>

<div class="homeSection d-flex">

    <!-- 側邊導覽列 -->
    <div class="sidebarArea">
        <app-sidebar></app-sidebar>
    </div>

    <!-- 右邊主內容 -->
    <div class="home bg-danger flex-grow-1 d-flex flex-column">
      <!-- homeSection flex-grow-1 d-flex justify-content-center align-items-center   -->
      <!-- 廣告區 -->
         <div class="adArea p-5 ">
            <app-ad></app-ad>
         </div>

        <!-- 商品展示區 -->
        <app-product-display></app-product-display>
    </div>

</div>

<!-- 頁尾 -->
<app-footer></app-footer>
</body>
